.explanation {
    margin-top: 150px;

    .container {

        margin: 10px auto;
        max-width: 1320px;
        padding: 0 80px;

        h2 {
            color: white;
            font-size: 32px;
            text-align: center;
        }

        .grid-benefits {
            margin-top: 50px;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 25px;

            .benefits {
                border-radius: 10px;
                padding: 20px 20px;
                background-color: #384D70;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                
                img {
                    max-width: 300px;
                }

                .grid-text {
                    margin-top: 30px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    color: white;

                    .grid-text-top {

                        p {
                            color: #FFFFFF;
                            opacity: 0.3;
                        }
                    }

                    .grid-text-middle {
                        
                        p {
                            font-size: 16px;
                        }
                    }

                    .grid-text-bottom {

                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}